{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block welcome %}
<div class="container">
	<div class="section">
		<h1>Welcome,</h1>
		<p>These are the countless projects and ideas that have kept me up at night.</p>
		<p>Many are still in the works and may never gain traction, while others are from a chapter in my life that I will likely never revisit, however all hold a special place in my heart</p>
		{% comment %} <button class="btn btn-primary btn-lg" type="button">Example button</button> {% endcomment %}
	</div>
</div>
{% endblock %}


{% block content %}
<div> 
	{% for project in object_list %}
		{% include 'projects/project_card.html' %}
	{% endfor %}
</div>
{% endblock %}