<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">

	<title>{% block title %}{% endblock %} | Sanchit Kumar</title>

  {% include 'meta_name.html' %}
  {% include 'meta_property.html' %}

	{% load static %}
	<!-- Favicons -->
	<link href="{% static 'assets/img/favicon.png' %}" rel="icon">

	<!-- Fonts -->
	

	<!-- Vendor CSS Files -->
	<link href="{% static 'assets/vendor/materialize/css/materialize.css' %}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>
<body>

  {% include 'header.html' %}
  <main>
  	<div class="container py-4">
  		{% block welcome %}{% endblock %}

	    <div class="row align-items-md-stretch">
	    	{% block content %}{% endblock %}
	    </div>
	  </div>
	</main>

  {% include 'footer.html' %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/materialize/js/materialize.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>